@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	font-family: 'Lato', sans-serif;
	color: #454545;
	font-size: 15px;
}
ul, li, ol, dl, dt, dd, form, p, img, a, h1, h2, h3, h4, h5, h6, table, tr, td, th, select, input, textarea, button {
	margin: 0px;
	padding: 0px;
	outline: none;
	border: none;
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
}
.clear {
	clear: both;
}
a:focus {
	outline: none;
	text-decoration: none;
}
/* --- Header --- */
.headerTop {
	background: #24a6df;
	padding: 15px 0px;
	margin-bottom: 25px;
	font-size: 14px;
	color: #fff;
}
.headerTop ul {
	float: left;
}
.headerTop ul li {
	display: inline-block;
	padding-right: 25px;
	padding-top: 2px;
}
.headerTop .fbTop {
	float: right;
}
.headerTop .fbTop span {
	background: #fff;
	width: 24px;
	height: 24px;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	margin-right: 5px;
	font-size: 14px;
	color: #000;
}
.headerTop .fbTop span .fa {
	margin-top: 5px;
}
.headerTop a {
	color: #fff;
}
.headerTop a:hover {
	text-decoration: none;
}
.headerTop a:hover span {
	background: #3b5998;
	color: #fff;
}
.logo {
	float: left;
}
.logo .logoBlock {
	float: left;
	padding-right: 20px;
	border-right: 2px solid #eee;
	margin-right: 20px;
}
.logo .gifBox {
	float: left;
	padding-top: 20px;
}
.logo img {
	width: 100%;
	max-width: 300px;
}
.logoSection {
	padding-bottom: 25px;
}
.phoneRight {
	float: right;
	background: #24a6df;
	border-radius: 50px;
	color: #fff;
	padding: 5px;
	margin-top: 10px;
}
.phoneRight span {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	float: left;
	background: #fff;
	text-align: center;
	color: #24a6df;
	font-size: 20px;
}
.phoneRight span i {
	margin-top: 10px;
}
.phoneRight .text {
	float: left;
	font-size: 14px;
	font-weight: 700;
	padding: 0px 20px;
}
@media (max-width:991px) {
.headerTop ul {
	float: none;
	text-align: center;
}
.headerTop ul li {
	padding: 0px 10px 10px 10px;
}
.headerTop .fbTop {
	float: none;
	text-align: center;
}
.logo {
	padding-bottom: 20px;
}
.phoneRight {
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	clear: both;
}
}
@media (max-width:700px) {
.logo {
	float: none;
	text-align: center;
}
}
@media (max-width:680px) {
.logo {
	padding-bottom: 0px;
}
.logo .logoBlock {
	float: none;
	margin: 0px;
	padding: 0px;
	border: none;
}
.logo .gifBox {
	float: none;
	clear: both;
	padding-top: 10px;
}
}
/* --- Menu Page --- */
.menu {
	background: #24a6df;
	margin-bottom: 25px;
}
.menu .navbar {
	margin-bottom: 0px;
}
.menu .navbar-default {
	background: none;
	border: none;
	border-radius: 0px;
}
.menu .navbar-default .navbar-nav > li > a {
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}
.menu .navbar-default .navbar-nav > li > a:hover, .menu .navbar-default .navbar-nav > li.active > a, .menu .navbar-default .navbar-nav > li > a:focus {
	background: #e20a16;
	color: #fff;
}
.menu .navbar-default .navbar-brand {
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	display: none;
}
.menu .navbar-nav {
	float: none;
	text-align: center;
}
.menu .navbar-nav > li {
	float: none;
	display: inline-block;
}
@media (max-width:767px) {
.menu {
	background: #24a6df;
	margin-bottom: 25px;
}
.menu .navbar {
	margin-bottom: 0px;
}
.menu .navbar-default .navbar-brand {
	display: block;
}
.menu .navbar-default .navbar-toggle {
	border: none;
}
.menu .navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.menu .navbar-default .navbar-toggle:hover, .menu .navbar-default .navbar-toggle:focus {
	background: none;
}
.menu .navbar-default .navbar-toggle:hover .icon-bar {
	background-color: yellow;
}
.menu .navbar-nav > li {
	display: block;
	text-align: left;
	margin-bottom: 2px;
}
.menu .navbar-default .navbar-nav > li > a {
	color: #fff;
}
.menu .navbar-default .navbar-nav > li > a:hover, .menu .navbar-default .navbar-nav > li.active > a, .menu .navbar-default .navbar-nav > li > a:focus {
	background: #fff;
	color: #000;
}
}
/* --- Slider --- */
.slider {
	margin-bottom: 50px;
}
.slider .outerlayer {
	background: #ecf0f1;
	padding: 15px;
}
.slider .outerlayer .innerlayer {
	background: #fff;
	padding: 5px;
}
.slider img {
	width: 100%;
}
/* --- Four Options --- */
.fourOpts {
	background: #ecf0f1;
	padding-top: 50px;
	margin-bottom: 50px;
}
.fourOpts li {
	padding-bottom: 50px;
	text-align: center;
}
.fourOpts li span {
	background: #24a6df;
	display: inline-block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-bottom: 15px;
}
.fourOpts li h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 3px 0px 10px 0px;
}
.fourOpts li p {
	line-height: 26px;
	font-size: 14px;
}
/* --- Services Home --- */
.svcHome {
	text-align: center;
}
.svcHome h2 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	color: #24a6df;
	margin-bottom: 20px;
}
.svcHome li {
	float: left;
	width: 20%;
	padding: 0px 15px 50px 15px;
}
.svcHome li img {
	width: 100%;
}
.svcHome li h3 {
	font-size: 15px;
	font-weight: 700;
	padding-bottom: 0px;
}
.svcHome li h3 a {
	color: #fff;
	background: #24a6df;
	padding: 8px 0px;
	display: block;
	transition: all linear 0.5s;
	margin-top: 1px;
}
.svcHome li h3 a:hover {
	text-decoration: none;
	background: #e20a16;
}
@media (max-width:1199px) {
.svcHome li {
	width: 25%;
}
}
@media (max-width:991px) {
.svcHome li {
	width: 33.333%;
}
}
@media (max-width:650px) {
.svcHome li {
	width: 50%;
}
}
@media (max-width:400px) {
.svcHome li {
	width: 100%;
}
}
/* --- Welcome Home --- */
.welcomeHome {
	text-align: center;
	background: url(../images/welcome-bg.jpg) center top fixed;
	color: #fff;
	margin-bottom: 50px;
}
.welcomeHome h1 {
	font-size: 40px;
	font-weight: 700;
	padding-bottom: 20px;
}
.welcomeHome p {
	line-height: 30px;
	padding-bottom: 20px;
}
.welcomeHome .overlayBox {
	background: rgba(0,0,0,0.6);
	padding: 100px 0px 80px 0px;
}
/* --- Portfolio Home --- */
.portfolioHome {
	padding-bottom: 20px;
}
.portfolioHome h2 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
}
.portfolioHome ul li {
	float: left;
	width: 25%;
	padding: 0px 15px 30px 15px;
}
.portfolioHome ul li img {
	width: 100%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	transition: all linear 0.5s;
}
.portfolioHome ul li img:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}
 @media (max-width:991px) {
.portfolioHome ul li {
	width: 33.333%;
}
}
@media (max-width:600px) {
.portfolioHome ul li {
	width: 50%;
}
}
@media (max-width:400px) {
.portfolioHome ul li {
	width: 100%;
}
}
/* --- Footer --- */
#footer {
	clear: both;
}
.footerTop {
	background: #24a6df;
	padding: 25px 0px;
	color: #fff;
	text-align: center;
}
.footerTop h2 {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.footerTop h3 {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.footerTop p {
	line-height: 28px;
}
.footerBottom {
	padding: 15px;
	color: #fff;
	background: #017db3;
	font-size: 14px;
	text-align: center;
}
.footerBottom a {
	color: #fff;
}
/* --- H1 Tag --- */
h1.mainTitle {
	background: #ecf0f1;
	padding: 15px 0px;
	border-radius: 50px;
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	margin-bottom: 25px;
}
/* --- Right Side --- */
.rightside {
	padding-bottom: 15px;
}
.rightside .block {
	background: #ecf0f1;
	padding: 15px 15px 5px 15px;
	margin-bottom: 15px;
	border-radius: 3px;
}
.rightside h3 {
	font-size: 17px;
	font-weight: 700;
	padding-bottom: 10px;
}
.rightside ul li {
	position: relative;
	padding: 0px 0px 10px 20px;
}
.rightside ul li:before {
	position: absolute;
	top: 0px;
	left: 10px;
	font-family: 'FontAwesome';
	content: "\f101";
}
.rightside ul li a {
	color: #333;
	padding-left: 10px;
	display: block;
}
.quoteImg {
	margin-bottom: 20px;
}
.quoteImg img {
	width: 100%;
	border-radius: 3px;
}
/* --- Left Side --- */
.leftSide {
	padding-bottom: 30px;
}
.leftSide p {
	line-height: 30px;
	padding-bottom: 20px;
}
.leftSide h2 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 10px;
}
.leftSide h3 {
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 10px;
}
.leftSide > ul {
	margin-left: 30px;
	padding-bottom: 10px;
}
.leftSide > ul > li {
	list-style: disc;
	line-height: 28px;
	padding-bottom: 10px;
}
/* --- Services Inner --- */
.svcHome.Inner {
	padding-bottom: 30px;
}
.svcHome.Inner li {
	width: 33.33%;
	padding-bottom: 30px;
}
@media (max-width:1199px) {
.svcHome.Inner li {
	width: 50%;
}
}
@media (max-width:767px) {
.svcHome.Inner li {
	width: 33.33%;
}
}
@media (max-width:550px) {
.svcHome.Inner li {
	width: 50%;
}
}
@media (max-width:400px) {
.svcHome.Inner li {
	width: 100%;
}
}
/* --- Contact Us --- */
.contactBox {
	padding-bottom: 15px;
}
.contactBox h5 {
	font-weight: 700;
	font-size: 18px;
	padding-bottom: 5px;
}
.leftSide .contactBox p {
	padding-bottom: 5px;
}
.mapBox {
	background: #fff;
	padding: 10px;
	border: 1px solid #ddd;
	margin-bottom: 30px;
}
.mapBox iframe {
	display: block;
}
/* --- Form Box --- */
.formPage {
	background: #ecf0f1;
	padding: 15px;
}
.formPage .form-control {
	border-radius: 2px;
}
.formPage textarea {
	min-height: 120px;
}
/* --- Publication Details --- */
.book-pic {
	background: #ecf0f1;
	padding: 15px;
	margin-bottom: 20px;
}
.book-pic img {
	width: 100%;
}
.svcHome.Inner.publication li {
	float: left;
	width: 50%;
}
@media (max-width:1199px) {
.svcHome.Inner.publication li {
	float: left;
	width: 100%;
}
}
@media (max-width:767px) {
.svcHome.Inner.publication li {
	float: left;
	width: 50%;
}
}
@media (max-width:767px) {
.svcHome.Inner.publication li {
	float: left;
	width: 100%;
}
}
